
venv/
.venv/
__pycache__/
*.py[cod]
.DS_Store
feedback_metrics_history.csv
filtered_talents_db.csv
only_value_and_rank.csv
ranking_history.csv
trial_ranking.csv
potential-talents - Aspiring human resources - seeking human resources.csv